#user_menu ul
{
    list-style-type: none;
    padding-left: 22.5px;
    margin: 0px;
}
#user_menu ul li
{
    float: left;
    margin-left: 25px;
}
#user_menu ul li a
{
    font-size: 25px;
    margin-top: 12.5px;
    display: block;
    text-decoration: none;
    color:white;//black;
}
#user_menu ul li :hover
{
    color:black;
}